- 각타입(객체)는 : 속성 + 메소드
- 변수명.속성
- 변수명.함수(인자,..)

In [1]:
s = 'abcdef'
print( s.upper() )

ABCDEF

In [ ]:
s = '    abc   '
print( s )
print( s.strip() ) ## 문자열 좌우의 화이트스페이스제거(' ',\n,\t,\r )

    abc
abc

In [6]:
s1 = '###abc---'
print( s1.strip('#-') )

abc

In [ ]:
s2 = 'abc def ghi'
print( s2.split() ) #화이트스페이스 기준으로 분리

['abc', 'def', 'ghi']

In [8]:
s3 = '000-111-222' # - 기준으로 분리하시요
print( s3.split('-') )

['000', '111', '222']

In [9]:
s4 = 'i love korea'
print( s4.replace('love','like') )

i like korea

### 리스트 멤버함수

In [12]:
myList = [10,20,30]
myList.append(40)
myList.append(50)
myList.insert(1,100)
print( myList)

[10, 100, 20, 30, 40, 50]

In [1]:
myList = [10,20,30]
myList[0] = 100 # 수정
myList

[100, 20, 30]

In [2]:
myList = [10,20,30]
myList.remove(20)
myList

[10, 30]

In [2]:
my1 = ['aa','bb','cc']
print( ' '.join( my1) )
print( '-'.join( my1) )

aa bb cc
aa-bb-cc

### 튜플멤버함수

In [ ]:
t = (10,20,30,20)
print( t.count(20) )
print( t.index(30) )
# t[0] = 100

2
2

In [6]:
a = 10
b = 20
c = 30
print( a,b,c)

10 20 30

In [7]:
a = 10;b = 20;c = 30
print( a,b,c)

10 20 30

In [8]:
a,b,c = 10,20,30
print( a,b,c)

10 20 30

In [ ]:
d = 11,22,33  # 패킹: 자동으로 튜플로 변환
print( d )

(11, 22, 33)

In [ ]:
e,f,g = (100,200,300) #언패킹:unpacking
print( e,f,g)

100 200 300

### 딕셔너리 멤버함수

In [13]:
d = {'aa':10,'bb':20,'cc':30}
print( d.keys())
print( d.values() )
print( d.items() )

dict_keys(['aa', 'bb', 'cc'])
dict_values([10, 20, 30])
dict_items([('aa', 10), ('bb', 20), ('cc', 30)])

In [19]:
d = {'aa':10,'bb':20,'cc':30}
print( d['aa'] )
print( d.get('aa') )
# print( d['ff'] )
print( d.get('ff',100 ) )

10
10
100

In [20]:
d = {'aa':10,'bb':20,'cc':30}
d.pop('aa')
print( d )

{'bb': 20, 'cc': 30}

In [22]:
d = {'aa':10,'bb':20,'cc':30}
d['aa'] = 100 #키가 있으면 수정
d['dd'] = 200 #키가 없으면 추가
print( d )

{'aa': 100, 'bb': 20, 'cc': 30, 'dd': 200}

#### 세트멤버함수

In [ ]:
s = {10,20,30,40,50}
s.add(60)
s.remove(20)
print( s )

{50, 40, 10, 60, 30}

In [ ]:
s = {10,20,30,40,50,20,20} #중복데이터 자동제거
print( s )

{50, 20, 40, 10, 30}

In [35]:
s1 = {10,20,30}
s2 = {20,30,40,50}
print( s1.intersection(s2)) #교집합
print( s1 & s2 )
print( s1.union(s2)) #합집합
print( s1 | s2 ) 
print( s1.difference(s2)) #차집합
print( s1-s2)
print( s2.difference(s1))
print( s2-s1)

{20, 30}
{20, 30}
{50, 20, 40, 10, 30}
{50, 20, 40, 10, 30}
{10}
{10}
{40, 50}
{40, 50}

len 내장함수:복합데이터 타입의 갯수

In [37]:
s = 'abc'
my = [10,20,30,40,50]
print( len(s) )
print( len(my) )

3
5