1.	화면에 아래 문장을 출력하시요. 
신씨가 소리질렀다. "도둑이야".

In [1]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [2]:
s ='신씨가 소리질렀다. "도둑이야".'
print( s )

신씨가 소리질렀다. "도둑이야".

2.다음 표는 삼성전자의 일부 투자정보이다. 변수를 사용해서 시가총액, 현재가, PER 변수를 선언하시요.
항목	값
시가총액	298조
현재가	50,000원
PER	15.79

In [ ]:
#2번 문제 정답
시가총액 = 2980000000000
현재가 = 50000
PER = 15.79

3.	자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
license_plate = "24가 2210"

In [ ]:
license_plate = "24가 2210"
license_plate[-4::]

'2210'

4.	아래의 문자열에서 '홀' 만 출력하세요.
string = "홀짝홀짝홀짝"

In [4]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

5.	아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
phone_number = "010-1111-2222"
실행 예
010 1111 2222

In [6]:
phone_number = "010-1111-2222"
print(phone_number.replace('-', ' '))
print( phone_number.split('-'))

010 1111 2222
['010', '1111', '2222']

In [9]:
import re
phone_number = "010-1111#2222@3333"
re.sub('[-#@]', ' ', phone_number)

'010 1111 2222 3333'

6.	url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
url = "http://sharebook.kr"
실행 예:
kr

In [12]:
#6번 문제 정답
url = "http://sharebook.kr"
print(url.split('.') )
print(url.split('.')[-1] )

['http://sharebook', 'kr']
kr

In [13]:
url = "http://sharebook.kr"
url[-2::]

'kr'

7.	다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
ticker = "btc_krw"

In [14]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

8.	movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [15]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, '슈퍼맨')

print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

9.	price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
price = ['20180728', 100, 130, 140, 150, 160, 170]
출력 예시:
[100, 130, 140, 150, 160, 170]

In [16]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

10.	interest 리스트는 아래와 같다.
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [17]:
interest = ['삼성전자', 'LG 전자', 'Naver', 'SK 하이닉스', '미래에셋대우']
a, b, c, d, e = interest

print(a, b, c, d, e)

삼성전자 LG 전자 Naver SK 하이닉스 미래에셋대우

In [19]:
my1 = ['aa','bb','cc']
print( ' '.join( my1) )
print( '-'.join( my1) )

aa bb cc
aa-bb-cc

In [18]:
interest = ['삼성전자', 'LG 전자', 'Naver', 'SK 하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG 전자 Naver SK 하이닉스 미래에셋대우