```text
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.
메로나 1000 폴라포 1200 빵빠레 1800

In [1]:
d = {'메로나': 1000, '폴라포': 1200, '빵빠레':1800}
d

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

```text
2. 1번 문제에서 구성한 딕셔너리에 아래 아이스크림 가격정보를 추가하라. 이름 희망 가격 죠스바 1200 월드콘 1500

In [4]:
d = {'메로나': 1000, '폴라포': 1200, '빵빠레':1800}
d['죠스바'] = 1200
d['월드콘'] = 1800
print(d)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1800}

```text
3. 아래 코드에서 에러가 발생하는 원인에 대해 설명하라. 
print(3 => 4)

부등호(>)가 왼쪽에 위치에 있음 -> print(3 >= 4)로 수정

```text
4. 사용자로부터 입력받은 문자열을 두 번 출력하라. 
아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다. 
입력: 안녕하세요 
안녕하세요안녕하세요

In [1]:
str = input('입력:')
print(str*2)

안녕하세요안녕하세요

```text
5. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 
사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라. 
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"} 
제가좋아하는계절은: 봄 정답입니다.

In [4]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = input('제가좋아하는계절은:')

if season in fruit:
  print('정답입니다.')
else :
  print('오답입니다.')

오답입니다.

```text
6. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 
사용자로부터 score를 입력받아 학점을 출력하라. 
점수 학점 
81~100 A 
61~80 B 
41~60 C 
21~40 D 
0~20 E

In [5]:
score = int(input('점수입력:'))

if 81<= score <= 100:
  print('A')
elif 61 <= score <= 80:
  print('B')
elif 61 <= score <= 80:
  print('C')
elif 41 <= score <= 60:
  print('D')
elif 21 <= score <= 0:
  print('E')

D

```text
7. for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라. 
리스트 = ["김밥", "라면", "튀김"] 
오늘의 메뉴: 김밥 
오늘의 메뉴: 라면 
오늘의 메뉴: 튀김

In [8]:
리스트 = ["김밥", "라면", "튀김"]

for n in 리스트:
  print('오늘의 메뉴:', n)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

```text
리스트에 주식 종목이름이 저장돼 있다. 
리스트 = ["SK하이닉스", "삼성전자", "LG전자"] 
저장된 문자열의 길이를 다음과 같이 출력하라. 
SK 하이닉스 6 
삼성전자 4 
LG 전자 4

In [10]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for n in 리스트:
  print(n, len(n))

SK하이닉스 6
삼성전자 4
LG전자 4

```text
for문을 사용해서 3의 배수만을 출력하라. 
리스트 = [3, 100, 23, 44,9]

In [13]:
리스트 = [3, 100, 23, 44,9]

for n in 리스트:
  if n%3==0:
    print(n)

3
9

```text
10. 리스트에서 세 글자 이상의 문자를 화면에 출력하라 
리스트 = ["I", "study", "python", "language", "!"] 
study 
python 
language

In [14]:
리스트 = ["I", "study", "python", "language", "!"] 
for n in 리스트:
  if len(n) >= 3:
    print(n)

study
python
language